@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	label {
		@apply inline-block my-3 mx-0;
	}

	input[type='text'],
	input[type='number'] {
		@apply border border-solid border-gray-300 rounded-sm block text-base p-3 w-full;
	}
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type='number'] {
		-moz-appearance: textfield;
	}
}
